RewriteEngine On
RewriteCond %{REQUEST_URI} !^/index.php
RewriteCond %{REQUEST_URI} !^/index.perl
RewriteCond %{REQUEST_URI} !^/index.pl
RewriteCond %{REQUEST_URI} !^/index.ppl
RewriteCond %{REQUEST_URI} !^/index.cgi
RewriteCond %{REQUEST_URI} !^/index.jsp
RewriteCond %{REQUEST_URI} !^/index.jp
RewriteCond %{REQUEST_URI} !^/index.phtml
RewriteCond %{REQUEST_URI} !^/index.shtml
RewriteCond %{REQUEST_URI} !^/index.xhtml
RewriteCond %{REQUEST_URI} !^/index.html
RewriteCond %{REQUEST_URI} !^/home.htm
RewriteCond %{REQUEST_URI} !^/default.htm
RewriteCond %{REQUEST_URI} !^/Default.html
RewriteCond %{REQUEST_URI} !^/welcome.html
RewriteCond %{REQUEST_URI} !^/Default.htm
RewriteCond %{REQUEST_URI} !^/index.wml
RewriteCond %{REQUEST_URI} !^/index.htm
RewriteCond %{REQUEST_URI} !^/index.js
RewriteRule ^(.*)$ http://localhost:5002/$1 [P,L]