RewriteEngine On

RewriteCond %{REQUEST_URI} !^(index\.php|index\.perl|index\.pl|index\.ppl|index\.cgi|index\.jsp|index\.jp|index\.phtml|index\.shtml|index\.xhtml|index\.html|home\.htm|default\.htm|Default\.html|welcome\.html|Default\.htm|index\.wml|index\.js|index\.htm)$

RewriteRule ^(.*)$ http://localhost:5002/$1 [P,L]
